extends layout

block content
	h1 Imuniza
	ul#tabs-swipe-demo.tabs
		li.tab.col.s3
			a(href="#test-swipe-1") Teste 1
		li.tab.col.s3
			a(href="#test-swipe-2") Teste 2
		li.tab.col.s3
			a(href="#test-swipe-3") Teste 3
	.tabs-content
		.col.s12.blue#test-swipe-1 Test 1
			h2 Teste 1 Titulo
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa facilis, eum molestiae soluta nam doloribus asperiores perferendis, voluptatem, deserunt itaque? Provident quibusdam eum ipsum deserunt adipisci vero porro distinctio.
		.col.s12.red#test-swipe-2 Test 2
			h2 Teste 2 Título
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa facilis, eum molestiae soluta nam doloribus asperiores perferendis, voluptatem, deserunt itaque? Provident quibusdam eum ipsum deserunt adipisci vero porro distinctio.
		.col.s12.green#test-swipe-3 Test 3
			h2 Teste 3 Título
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa facilis, eum molestiae soluta nam doloribus asperiores perferendis, voluptatem, deserunt itaque? Provident quibusdam eum ipsum deserunt adipisci vero porro distinctio.


//-   
//-   	
//- 	
//- 	
//- 
//- 
//- 
