extends layout

block content

	//- Navbar
	nav
		.nav-wrapper.teal.lighten-3.z-depth-3
			a(href="#").brand-logo
				img.logo(src="/images/ze_gotinha.png", alt="")
			a(href="#", data-activates="mobile-demo").button-collapse
				i.material-icons menu
			ul#nav-mobile.right.hide-on-med-and-down
				li
					a(href="") Paciente
				li
					a(href="") Agentes de Saúde
				li
					a(href="") Sobre o Sistema
			.section.scrollspy
				ul.side-nav#mobile-demo.background.brown.lighten-3
					li
						.user-view
							.background.yellow.darken-4.valign-wrapper
								//- img aqui
								h5 Cartão de Vacina Online
					li
						.collapsible-header.waves-effect.black-text Paciente
					li
						.collapsible-header.waves-effect.black-text Agentes de Saúde
					li
						.collapsible-header.waves-effect.black-text Sobre o Sistema
					.nav-content
		//- Layout
	.row.container
		.corpo
			ul.tabs.label-menu.right-align
				li.tab.col.s6
					a(href="#test-swipe-1").brown-text.darken-4	Agente de Saúde
				li.tab.col.s6
					a(href="#test-swipe-2").brown-text.darken-4	Paciente
			.tabs-content
				.col.s12#test-swipe-1
					.container
						.row
							form.col.s12(method="post", action="/acessar")
								.row
									.input-field
										input(type="text", name="registro").validate#nome
										label(for="nome") Registro
									.input-field.col-s6
										input(type="password" name="senha").validate#senha
										label(for="senha") Senha
									button(type="submit").btn.waves-effect.waves-light Enviar
										i.material-icons.left done
				.col.s12#test-swipe-2
					.container
						.row
							form.col.s12
								.row
									.input-field
										input(type="text").validate#cpf
										label(for="cpf") CPF
									button(type="submit").btn.waves-effect.waves-light Enviar
										i.material-icons.left done
			


//-   
//-   	
//- 	
//- 	
//- 
//- 
//- 
