extends layoutHome

block content

	if messages.erro
		div(class="alert-danger")
			p= messages.erro
		br
	.row.container
		.corpo
			ul.tabs.label-menu.right-align
				li.tab.col.s6
					a(href="#test-swipe-1").brown-text.darken-4	Agente de Saúde
				li.tab.col.s6
					a(href="#test-swipe-2").brown-text.darken-4	Paciente
			.tabs-content
				.col.s12#test-swipe-1
					.container
						.row
							form.col.s12(method="post", action="/acessar")
								.row
									.input-field
										input(type="text", name="registro").validate#nome
										label(for="nome") Registro
									.input-field.col-s6
										input(type="password" name="senha").validate#senha
										label(for="senha") Senha
									button(type="submit").btn.waves-effect.waves-light Enviar
										i.material-icons.left done
				.col.s12#test-swipe-2
					.container
						.row
							form.col.s12
								.row
									.input-field
										input(type="text").validate#cpf
										label(for="cpf") CPF
									button(type="submit").btn.waves-effect.waves-light Enviar
										i.material-icons.left done
			


//-   
//-   	
//- 	
//- 	
//- 
//- 
//- 
