html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        ul.dropdown-content#dropdownPaciente
            li 
                a(href="/aplicarVacina") Aplicar Vacinas
            li.divider
            li 
                a(href="/paciente") Consultar Cartão
            li.divider
            li
                a(href="/cadastro/paciente") Cadastrar Paciente

        ul.dropdown-content#dropdownAgenteSaude
            li 
                a(href="/agente") Consultar 
            li.divider
            li
                a(href="/cadastro/aplicador") Cadastrar 

        ul.dropdown-content#dropdownVacinas
            li 
                a(href="/lista") Listar
            li.divider
            li
                a(href="/gerar_relatorio") Gerar Relatorio 
        nav
            .nav-wrapper.teal.lighten-3.z-depth-3
                if isLogged
                        a(href="#").brand-logo
                            img.logo(src="/images/vacina.jpg", alt="")
                        a(href="#", data-activates="mobile-demo").button-collapse
                            i.material-icons menu
                        ul#nav-mobile.right.hide-on-med-and-down
                            li
                                a.dropdown-button(data-activates="dropdownPaciente") Paciente
                                    i.material-icons.right
                            li
                                a.dropdown-button(data-activates="dropdownVacinas") Vacina
                                    i.material-icons.right
                            if  (session.tipo==="administrador")
                                li
                                    a.dropdown-button(data-activates="dropdownAgenteSaude") Agente de Saúde
                                        i.material-icons.right
                            li
                                a(href="") Sobre o Sistema
                            li
                                a(href="/sair")  Sair

                else
                    a(href="#").brand-logo
                        img.logo(src="/images/vacina.jpg", alt="")
                    a(href="#", data-activates="mobile-demo").button-collapse
                        i.material-icons menu
                    ul#nav-mobile.right.hide-on-med-and-down
                       
                        li
                            a(href="") Sobre o Sistema

    block content
    block scripts
        <script src="https://code.jquery.com/jquery-3.1.1.js"  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        script(src="/javascripts/jquery.mask.min.js")
        <script src="/javascripts/index.js"></script>
        script(src="/javascripts/aplicarVacina.js" type="text/javascript")
    

