html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        if isLogged

            ul.dropdown-content#dropdownPaciente.drop1.teal.lighten-3
                
                li 
                    a(href="/paciente") Buscar Paciente
                li.divider
                li
                    a(href="/cadastro/paciente") Cadastrar 

            ul.dropdown-content#dropdownAgenteSaude.drop1.teal.lighten-3
                
                li 
                    a(href="/consultar/aplicador") Consultar 
                li.divider
                li
                    a(href="/cadastro/aplicador") Cadastrar 

            ul.dropdown-content#dropdownVacinas.drop1.teal.lighten-3
                li 
                    a(href="/lista") Listar
                li.divider
                li
                    a(href="/gerar_relatorio") Gerar Relatorio 

            ul.dropdown-content#dropdownusuario.drop1.teal.lighten-3
                li 
                    a(href="/sair") Sair
                li.divider
            
                li
                    a(href="/perfil/#{session._id}") Perfil
            ul.dropdown-content#dropdownPaciente1.drop2
                
                li 
                    a(href="/paciente") Buscar Paciente
                li.divider
                li
                    a(href="/cadastro/paciente") Cadastrar 

            ul.dropdown-content#dropdownAgenteSaude1.drop2
                
                li 
                    a(href="/consultar/aplicador") Consultar 
                li.divider
                li
                    a(href="/cadastro/aplicador") Cadastrar 

            ul.dropdown-content#dropdownVacinas1.drop2
                li 
                    a(href="/aplicarVacina") Aplicar
                li.divider
                li 
                    a(href="/lista") Listar
                li.divider
                li
                    a(href="/gerar_relatorio") Gerar Relatorio 

            ul.dropdown-content#dropdownusuario1.drop2
                li 
                    a(href="/sair") Sair
                li.divider
            
                li
                    a(href="/perfil/#{session._id}") Perfil
            
            nav(id='noprint')
                .nav-wrapper.teal.lighten-3.z-depth-3
                            a(href="#", data-activates="mobile-demo").button-collapse
                                i.material-icons menu
                            ul#nav-mobile.right.hide-on-med-and-down
                                li
                                    a.dropdown-button(data-activates="dropdownPaciente") Paciente
                                        i.material-icons.right arrow_drop_down
                                li
                                    a.dropdown-button(data-activates="dropdownVacinas") Vacina
                                        i.material-icons.right arrow_drop_down
                                if  (session.tipo==="administrador")
                                    li
                                        a.dropdown-button(data-activates="dropdownAgenteSaude") Agente de Saúde
                                            i.material-icons.right arrow_drop_down
                                li
                                    a(href="") Sobre o Sistema
                                
                                li
                                    a.dropdown-button(data-activates="dropdownusuario") #{session.nome}
                                        i.material-icons.right arrow_drop_down
                            ul#mobile-demo.side-nav
                                li
                                    a.dropdown-button(data-activates="dropdownPaciente1") Paciente
                                        i.material-icons.right arrow_drop_down
                                li
                                    a.dropdown-button(data-activates="dropdownVacinas1") Vacina
                                        i.material-icons.right arrow_drop_down
                                if  (session.tipo==="administrador")
                                    li
                                        a.dropdown-button(data-activates="dropdownAgenteSaude1") Agente de Saúde
                                            i.material-icons.right arrow_drop_down
                                li
                                    a(href="") Sobre o Sistema
                                
                                li
                                    a.dropdown-button(data-activates="dropdownusuario1") #{session.nome}
                                        i.material-icons.right arrow_drop_down


        else
            nav(id='noprint')
                .nav-wrapper.teal.lighten-3.z-depth-3
                    a(href="#", data-activates="mobile-demo").button-collapse
                        i.material-icons menu
                    ul#nav-mobile.right.hide-on-med-and-down
                       
                        li
                            a(href="") Sobre o Sistema

    block content
    block scripts
        <script src="https://code.jquery.com/jquery-3.1.1.js"  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
        script(src="/javascripts/jquery.mask.min.js")
        <script src="/javascripts/index.js"></script>
        script(src="/javascripts/script.js" type="text/javascript")
    

