doctype html
nav
    if isLogged
        .nav-wrapper.teal.lighten-3.z-depth-3
            a(href="#").brand-logo
                img.logo(src="/images/vacina.jpg", alt="")
            a(href="#", data-activates="mobile-demo").button-collapse
                i.material-icons menu
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href="/lista") Vacina
                li
                    a(href="/paciente") Paciente
                li
                    a(href="") Sobre o Sistema
                li
                    a(href="/sair")  Sair

            .section.scrollspy
                ul.side-nav#mobile-demo.background.brown.lighten-3
                    li
                        .user-view
                            .background.yellow.darken-4.valign-wrapper
                                //- img aqui
                                h5 Cartão de Vacina Online
                    li
                        .collapsible-header.waves-effect.black-text Paciente
                    li
                        .collapsible-header.waves-effect.black-text Agentes de Saúde
                    li
                        .collapsible-header.waves-effect.black-text Sobre o Sistema
                    li
                        .collapsible-header.waves-effect.black-text Sair
                    .nav-content

    else
        .nav-wrapper.teal.lighten-3.z-depth-3
            a(href="#").brand-logo
                img.logo(src="/images/vacina.jpg", alt="")
            a(href="#", data-activates="mobile-demo").button-collapse
                i.material-icons menu
            ul#nav-mobile.right.hide-on-med-and-down
               
                li
                    a(href="") Sobre o Sistema
               
            .section.scrollspy
                ul.side-nav#mobile-demo.background.brown.lighten-3
                    li
                        .user-view
                            .background.yellow.darken-4.valign-wrapper
                                //- img aqui
                                h5 Cartão de Vacina Online
                
                    li
                        .collapsible-header.waves-effect.black-text Sobre o Sistema
                    
                    .nav-content
html
  head
    title= title
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="https://code.jquery.com/jquery-3.1.1.js"  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    script(src="/javascripts/jquery.mask.min.js")
    <script src="/javascripts/index.js"></script>
  body
    block content

