extends layout

block content
	section.container.card-panel.corpo3.responsive
		.row
			.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
				h5.text-center.lato Principais Tecnologias Utilizadas
				hr
				.row
					.row.col.s12.l6.m6

						.media
							h3 Node.Js
							.media-body.media-middle
								p É uma plataforma para aplicações web que permite o uso de javascipt do lado do servidor.
							.media-right
								a(target="_blank",href="https://nodejs.org/en/foundation/case-studies/")
									img(src="images/nodejs.png", alt="node js")
					.row.col.s12.l6.m6
						.media
							h3 MongoDB
							.media-body.media-middle
								p MongoDB é um banco de dados orientado a documentos de código-fonte aberto, possui alta performance, não possui esquemas, é escrito em C++, multiplataforma e é formado por um conjunto de aplicativos JSON...
							.media-right
								a(target="_blank",href="https://www.mongodb.com/")
									img(src="images/mongoDB.png", alt="")
				.row
					.row.col.s12.l6.m6
						.media
							h3 Express js
							
							.media-body.media-middle
								p Express é uma estrutura de aplicativos da Web Node.js mínima e flexível que fornece um conjunto robusto de recursos para aplicações web e móveis...
							.media-left
								a(target="_blank",href="http://expressjs.com/")
									img(src="images/expressjs.png", alt="")
					.row.col.s12.l6.m6
						.media
							h3 jQuery
							.media-body.media-middle
								p  jQuery é uma biblioteca JavaScript desenvolvida por John Resig, e que se tornou uma das bibliotecas JavaScript mais populares na internet, de código aberto e disponibilizada sobre as licenças MIT e GPL. Desse modo, é uma biblioteca que podemos utilizar para fins comerciais e pessoais, sem termos que pagar qualquer tipo de licença de uso...
							.media-right
								a(target="_blank",href="https://jquery.com/")
									img(src="images/jquery.png", alt="")
				.row
					.row.col.s12.l6.m6
						.media
							h3 Materialize
							.media-body.media-middle
								p  Um framework front-end moderno e responsivo baseado em Material Design...
							.media-right
								a(target="_blank",href="http://materializecss.com")
									img(src="images/materialize.png", alt="")
