extends ../layout

block content
	.container
		section.card-panel.corpo4
			.row
					.media
							h3 IMUNIZAÇÃO NO BRASIL
							.media-body.med
								p O Programa Nacional de Imunizações (PNI) do Brasil é uma referência internacional de política pública de saúde. O país já erradicou, por meio da vacinação, doenças de alcance mundial como a varíola e a poliomielite (paralisia infantil). A população brasileira tem acesso gratuito a todas as vacinas recomendadas pela Organização Mundial de Saúde (OMS).
								p Desde que foi criado, em 1973, o programa busca a inclusão social, assistindo todas as pessoas, em todos o país, sem distinção de qualquer natureza. As vacinas do programa estão à disposição de todos nos postos de saúde ou com as equipes de vacinação, cujo empenho permite levar a imunização mesmo aos locais de difícil acesso.
							.media-left
								a(target="_blank",href="http://www.blog.saude.gov.br/index.php/entenda-o-sus/50027-programa-nacional-de-imunizacoes-pni") continuar lendo
									


	