extends ../layout

block content
    h1 Cadastro de usuarios
    hr
    br
    form(method="POST", action="/cadastrar", class="col s12")
        div(class="row")
            div(class="input-field col s6")
                label Nome:
                input(type="text", name="nome", class="form-control" , required)
        div(class="row")
            div(class="input-field col s6")
                label registro:
                input(type="text", name="registro", class="form-control", required)
        div(class="row")
            div(class="input-field col s6")
                label Senha:
                input(type="password", name="senha", class="form-control", required)
        div(class="row")
            div(class="input-field col s6")
                input(type="submit",name="cadastrar", class="form-control" )
