body {
  padding: 0px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*background: #e0e0e0;*/
}

.fundo{
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background:  left no-repeat fixed url(../images/injecao.png);
}

div.dataTables_wrapper {
    margin-bottom: 3em;
}

a {
  color: #00B7FF;
}

.nav-wrapper{
	padding: 2px;
}
@media only screen and (min-width: 995px){
	.corpo{
		padding-top: 50px;
		margin-left: 200px;
	}
	.corpo2{
	/**/
	padding-top: 10px;
	margin-left: 350px;

	}
	.corpo3{
	/**/
	padding-top: 50px;
	margin-left: 275px;

	}

	.corpo4{
		padding-top: 50px;
		margin-left: 100px;
	}
	.corpo5{
		padding-top: 50px;
		margin-left: 500px;
	}

} 




.corpo{
	/**/
	padding-top: 50px;

}
#cancela{
	display: none;
}

.card {
     position: absolute;
     left: 50%;
     -moz-transform: translate(-50%, -50%)
     -webkit-transform: translate(-50%, -50%)
     -ms-transform: translate(-50%, -50%)
     -o-transform: translate(-50%, -50%)
     transform: translate(-50%, -50%);
}
p{
	text-align: justify;
}

.logo{
	margin-left: 20px;
	max-width: 64px;
	max-height: 64px;
}
.label-menu{
	background: transparent !important;
}

#selectVacina{
	display: none;
	
}
#form{
	display: none;
	
}
#min{
	display: none;
	
}
#vacinas{
	margin-right: 40px;
}
/*#vacina{
	margin-left:  20px;
}*/

#titulo{}
label#nome{
	color:black;
	font-weight: bold;
	display:block;
	width: 150px;
	float: left;
	font-size: 25 ;
}
.atualizar{
	display: none;
}

/*.edit{
	display: none;
}
*/
div#pac{
	background-color: #E6E6E6;
}

table#tabela{
	background-color: #E0F8F1;
}
h3#pac{
	background-color: #E6E6E6;
	border-radius: 25px 75px 25px 75px;
}
.drop1{
	margin-top:3%;

}
.drop2{
	margin-top:15%;

}
.drop1 a{
	color:white !important;
}
.drop2 a{
	color:black !important;
}

 @media print {
      #noprint {
        visibility:hidden;
      }

      #Imprimir{
      	visibility:hidden;
      }
      #aplicar{
      	visibility:hidden;
      }
                               
    }