extends ../layout
block content
	.container
		h1 Cadastro de Vacinas
		.container
			.row
				form.col.s12(action="/create" method="POST")
					.row
						.input-field.col.s6
							input(type="text" name="nome")
							label(for="nome") Nome da Vacina
					.row
						button.btn.waves-effect.waves-light(type="submit" name="action") Cadastrar
							i.material-icons.right send