extends ../layout
block content
	.container
		h3 Selecione o Período
		form.col.s12(action="/gerar_relatorio" method="POST")
			.row.col.s8
				
					span.col.s1
						p DE
					.input-fild.col.s3
						input(type="DATE" name="din" required)
				
					span.col.s1
						p ATÉ
					.input-fild.col.s3
						input(type="DATE" name="dfim" required)
			.row.col.s6
				.input-field.col.s6
					button.btn.waves-effect.waves-light(type="submit" name="action") Buscar
						i.material-icons.right send



