extends ../layout
block content
	h1 Pacientes
		p #{paciente.nome}
		br 
		p #{paciente._id}
	if vacinas.length > 0
		table(class="bordered")
			thead
				tr 
					th Nome:
					th Status:
					th Data
			tbody
				each valor in vacinas
					tr
						td #{valor.nome}
						td
							input(class="with-gap" name="group3" type="checkbox" class="test5")
							label(for="test5")
						td