extends ../layout
block content
	h1 Pacientes
	p #{paciente.nome}
	br 
	p #{paciente._id}
	if vacinas.length > 0
		table(class="bordered")
			thead
				tr 
					th Nome:
					th Status:
					th Data
			tbody
				each valor in vacinas
					tr
						td #{valor.nome}
						td
							if isLogged
								input(class="with-gap" name="status" type="checkbox" id="id"+[valor])
								label(for="id"+[valor])
							else
								input(class="with-gap" name="status" type="checkbox" id="ch")
								label(for="ch")
						td