extends ../layout
block content
	.container
		br
		.row
			form(method="post" action="/paciente/buscar").col.s12
				.row
					h5 BUSCAR PACIENTE
					.input-field.col.s4
						input.validate(type="text" name="sus" required)
						label(for="sus") Registro do SUS
					.row
						.input-fild.col.s5
							button(class="btn-floating btn-large blue")
								i(class="material-icons") search