extends ../layout
block content
	.container
		br
		.row
			form(method="post" action="/buscar").col.s12
				.row
					.input-field.col.s4
						input.validate(type="text" name="cpf" required)
						label(for="cpf") Buscar Paciente
					.row
						.input-fild.col.s5
							button(class="btn-floating btn-large blue")
								i(class="material-icons") search